.venv
instance/*
__pycache__/
files/
logs*
dbs
error_log*
clans.txt
champ1*
error_clans.txt
league_*.txt
.vscode
.DS_Store
*.log
test.py
.coverage
test_download_folder
*.sqlite
*.csv
stats_*
/data
/data2
/last
.env
.env2
*.swp
start.txt
counts*.txt
t.*
hist.txt
*.pyc